
/* colors 

Blue #7BA3DC
Blizzard #02B4C5
Sky #089DAB
Teal #70C8BC
Aqua #00B09A
Great Lakes #06A18C
Green #94D500  
Dark Green #7ABC43
Leafy Green #4AB553
Orange #ED7800
Tangerine #ECA337
Sunset #DF7E2A

Grey #666666

primary: aqua
success: dark green
info: blue
warning: tangerine
danger: sunset

*/

.header {
	background-color: #ddd;
}

#progress-bar {
	margin-top: 50px;
}

.progress-bar {
	height: 50px;
}

#options-bar {
	background-color: #CAD3EC;
}

#options-bar h2,
#options-bar h3 {
	text-align: center;
}

#options-bar h2 {
	margin-bottom: -20px;
}

.alert-container {
	position: absolute;
	z-index: 2;
}

/* resize charts for large screens */
#container-1, #container-2, #container-3, #container-4 {
	width: 100%;
	height: 400px;
}

@media screen and (min-width: 1200px){
	#container-2, #container-4 {
		height: 500px;
	}
}

.logo {
	margin: 15px auto 0 auto;
}

.logo:hover {
	opacity: 0.8;
}

/* headline */
.headline {
	background-color: #636466;
	min-height: 20px;
	padding: 0 15% 15px 15%;
	margin-bottom: 20px;
}
.headline h3 {
	text-align: center;
	color: #fff;
}
.headline span#headline-min {
	color: #1BCFC9;
}
.headline span#headline-num {
	color: #ED7800;
	font-size: 1.3em;
}
.headline span#headline-cat {
	color: #94D500;
}
.headline span#headline-per {
	color: #ED7800;
	font-size: 1.3em;
}

.headline p {
	text-align: center;
	color: #ddd;
}

/* period dropdown */
.period-dropdown {
	display: none;
	position: absolute;
	top: 35px;
	right: 24px;
	z-index: 2;
}

.hide-all {
	display: none;
	position: relative;
	top: -20px;
}

/* warning */
.warning {
	text-align: center;
}
.warning a {
	color: #636466;
	background-color: #dadada;
	padding: 1px 3px;
	border-radius: 3px;
	transition: background-color 0.25s;
}

.warning a:hover {
	text-decoration: none;
	background-color: #c8c8c8;
}

/* for testing */
.test {
	background-color: #00B09A;
	min-height: 300px;
	border: 2px solid #636466;
}

/* highcharts tooltip */
.highcharts-tooltip { 
	width:180px; 
}

/* footer */
footer[role="contentinfo"] {
	padding: 15px 0 0 0;
	font-size: 13px;
	border-top: 1px solid #ddd;
	}
footer[role="contentinfo"] nav ul li {
	display: inline;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	font-weight: bold;
	border-right: 1px solid #ccc;
	}
footer[role="contentinfo"] nav ul li:last-child {
	margin: 0;
	padding: 0;
	border: none;
	}

nav ul {
	text-align: center;
}

/* bootstrap fixes */
.btn {
	padding: 6px;
}

.tooltip-inner {
    white-space:pre-wrap;
    max-width: 350px;
}

.headline .alert {
	background-color: darkslategray;
}

.headline .alert button {
	color: #fff;
	opacity: 0.9;
}
